html {
    font-size: 10px;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: silver;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.logo h1{
    font-family: 'Gajraj One', cursive;
    text-align: center;
    font-size: 15vw;
    font-weight: 400;
    margin-top: -5vw;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    height: 17vw;
    width: 70%;
    background-image: url(../Images/milad-fakurian-rPdxh2xl2-E-unsplash-crop.jpg);
    background-size: cover;
    background-position: top;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: black;
}

.mission-img {
    position: relative;
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.various-boxes-img {
    display: block;
    width: 100%;
    
}

.mission-img-overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    transition: all .35s;
    align-items: center;
    justify-content: center;
}

.mission-img:hover .mission-img-overlay {
    top: 0;
}

.img-title {
    font-family: 'Gajraj One', cursive;
    font-size: 2.5vw;
    letter-spacing: .55rem;
    margin-top: -10vw;
    margin-left: -42vw;
}

.mission-statement {
    letter-spacing: .25rem;
    margin-top: 5vw;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem auto;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    width: 95%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
}

.navbar ul li {
    font-size: 2rem;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    padding-top: 6rem;
}

.about {
    font-size: 2.3rem;
    text-align: center;
    width: 80%;
    margin: auto;
    letter-spacing: .03rem;
    line-height: 4rem;
}

.specs {
    
}

.specsbox {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.specscontainer {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    flex: 1 1;
    min-width: 50rem;
    max-width: 75rem;
    min-height: 40rem;
    max-height: 50rem;
    margin: 5rem 5rem 15rem;
    filter: grayscale(100%)
}

.specscontainer:hover {
    filter: grayscale(0%);
    scale: 1.1;
    transition-duration: 800ms;
}

.spectrait {
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5rem;
}

.specscontainer p {
    text-align: center;
    font-size: 1.8rem;
    margin: .5rem;
    letter-spacing: .03rem;
}

.imagenest {
    display: flex;
    flex: 1 1;
    flex-wrap: nowrap;
}

.specscontainer img {
    flex: 1 1;
    overflow: hidden;
    border: .3rem solid black;
    box-shadow: 1.2rem .8rem .7rem;
    
}

.scrollcontainer {
    display: flex;
    background-color:black;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    width: 74rem;
    margin: auto;
    height: 80rem;
    scroll-snap-type: x mandatory;
}

.card {
  scroll-snap-align: center;  
}

.card img {
    padding: 2rem;
    width: 70rem;
    
    
}

.card h3 {
    color: white;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 1rem;
}

.newslettercontainer {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 95%;
}

.contactcontainer {
    display: flex;
    width: 100%;
    gap: 4rem;
    margin: auto;
}

.regform {
    display: flex;
    flex-direction: column;
    flex: 1 1 70rem;
    margin: auto;
    border: 1px solid black;
    padding: 3rem;
    box-shadow: 1.2rem .8rem .7rem;
}

.regform label {
    margin: 1rem 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.regform h3 {
   font-size: 2rem;
   
}

.regform input[type=text], form input[type=password] {
    width: 80%;
    padding: 1.5rem;
    display: block;
    border: none;
    background: #f1f1f1;

}

.contactinfo {
    display: flex;
    flex-direction: column;
    flex: 1 1 70rem;
    font-size: 1.8rem;
    border: 1px solid black;
    padding: 3rem;
    box-shadow: 1.2rem .8rem .7rem;
}

.contactinfo h3 {
    text-align: center;
    font-size: 2rem;
}

.contactinfo p {
    padding: 2rem; 
}

footer {
    padding: 1rem 1.5rem;
    background-color: black;
}

.footcontent {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 1vw;
    letter-spacing: .05rem;
}